body {
  font-family: Arial;
  background-color: #F5F7FA;
  margin: 0;
  padding: 0;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #131F3F;
  padding: 10px 0px;
  padding-right: 30px;
}

.topbar_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  color: #F5F7FA;
  font-weight: 100;
  font-size: 11px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #FFFFFF;
}

.navbar_linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 550px;
}

.navbar_logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbar_logo {
  height: 50px;
}

.navbar_item {
  text-decoration: none;
  color: #131F3F;
  font-size: 15px;
  font-weight: bold;
}

.navbar_button {
  border: #FF8000 2px solid;
  height: 50px;
  padding: 0px 25px;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar_button_text {
  font-size: 15px;
  color: #FF8000;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

#_submit {
  margin-top: 50px;
  width: 406px;
  background-color: yellow;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  color: #888888;
  background-color: #FF8000;
}

#_submit:hover {
  cursor: pointer;
}

.submitText {
  font-weight: bold;
  color: white;
}

.vname, .vemail {
  padding-top: 10px;
}

h1 {
  font-size: 40px;
}

input {
  height: 50px;
  padding-left: 25px;
  border: 1px solid #888888;
  font-size: 16px;
  margin-top: 30px;
  color: #888888;
  width: 400px;
}

input[type=text]:focus, input[type=email]:focus {
  border: #FF8000 1px solid;
  outline: none;
}

.dropbtn {
    margin-top: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 428px;
    padding-left: 25px;
    height: 50px;
    border: 1px solid #888888;
    color: #888888;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 395px;
    color: #888888;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border-bottom: 1px solid white;
}
